html {
  height: auto;
}
body {
  font-family: $ff-primary;
  background-image: url(../images/bg-pattern-top-mobile.svg);
  background-repeat: no-repeat;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media (min-width: $breakpoint-md) {
    background-image: url(../images/bg-pattern-top-desktop.svg),
      url(../images/bg-pattern-bottom-desktop.svg);
    background-position: top left, bottom right;
    height: 100vh;
    padding: 0 2rem;
  }
  @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
    height: auto;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  @media (min-width: $breakpoint-md) {
    max-width: 70rem;
    display: grid;
    grid-template-areas:
      'header rate'
      'cards cards';
    grid-template-rows: 16rem 21rem;
    margin-bottom: 2rem;
  }
  @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
    grid-template-rows: 16rem 32rem;
  }
}
.attribution {
  color: $clr-txt-attribution;
  padding: 1rem;
  text-align: center;
  a {
    color: $soft-pink;
  }
  a:hover {
    color: $dark-grayish-magenta;
    text-decoration: none;
  }
}
